:root {
    --marrom: #302727;
    --vermelho:#ba2d2d;
    --laranja:#f2511b;
    --amarelo: #f2861b;
    --mostarda:#c7c730;
}

header, footer {
    background-color: var(--vermelho);
    color: white;
}

.nav-link {
    color: white !important;
}

#botao-header {
    color: white;
    border: solid 1px white;
}

#botao-header:hover {
    background-color: #d41010;
}

#banner {
    width: 100%;
    height: 42rem;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#info {
    width: 42%;
    height: auto;
    padding: 3.5rem 0;
    padding-left: 1rem;
    background-color: #f2871b6a;
    display: flex;
    flex-direction: column;
}

#info > h3 {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-left: 1rem;
}

#info2 > p {
    font-size: 20px;
}

#button-banner {
    padding: 1rem;
    background-color: #000000;
    color: white;
    border: solid 1px #f2511b;
    font-size: 12px;
}

.card {
    width: 20rem; 
    height: 20rem;
    margin: auto 4rem;
    border: solid 0.5px rgba(0, 0, 0, 0.206);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > img {
    margin-top: 5rem;
    width: 6rem;
}

#image-contrato > img {
    border-radius: 10px 0 0 10px;
}

#calendario{
    border: solid 1px gray;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px 8px rgb(177, 174, 174);
    
}

table{
    width: 46rem;
}

td{
    border: solid 1px gray;
    text-align: center;
    font-weight: 500;
}

tr td:first-child{
    background-color: #ba2d2d;
    color: white;
    font-weight: 700;
    border: none;
    padding: 0 15px;
}


th{
    background-color: #ba2d2d;
    color: white;
    text-align: center;
    padding: 15px 0;
}

tr th:first-child{
    background-color: white;
}